.App {

    display: flex;
}

.special-label {
    color: green;
    visibility: hidden;
}

.form-control {
    position: absolute;
    width: 354px;
    height: 48px;
    left: 170px;
    top: 762px;
    border: 0.5px solid #D9DADB;
    box-sizing: border-box;
    border-radius: 10px;
    color: #707280;
    padding: 5px;

}


